
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}


img {
max-width: 100% !important;
height:auto;
}

body {

font-size: 16px;	
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Source Serif Pro', serif;
color: #66c6bd;
color: #404041;
background: ;
}

.w {
	color: #fff;

	
}


*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


p {
	margin-bottom: 20px;
	line-height: 1.5
}

a {
	color: #3c948b;
	text-decoration:none;
	border-bottom: 0px solid #fbaf33;
	padding-bottom: 5px;	
}

a:hover {
	
}


sup {
	font-size:.3em;
	 vertical-align: super;

}


b, strong {
	font-weight: bold;
}
i, em {
	font-style: italic;
}


h1, h2, h3, h4, h5, h6 {
font-family: 'Source Sans Pro', sans-serif;

	
}

h1 {
	font-size: 2em;
	line-height: 1.5;
	font-weight:bold;
	margin-bottom: 20px;
}

h2 {
font-size: 1.5em;
}

h3 {
font-size: 1.2em;

}

.tc {
text-align: center;
}
.tr {
text-align: right;
}
.tl {
text-align: left;
}


.container {
margin: 0 auto;
min-width: 500px;
padding: 130px 80px 130px 80px;
}



.footer-wrapper {
	font-size:.8em;
	padding: 15px 80px;
	background: #474746;
	color: #555;
	
	}

.content {
	margin:0 auto;
	max-width: 1025px;

}
.row:before,
.row:after {
	display: table;
	line-height: 0;
	content: ""
}
.row:after {
	clear: both;
}
.row {
	@include clearfix;
	margin: 0 -12px;
}

.row:after {
	clear: both;
}

[class*='span'] {
	display: block;
	float: left;
	padding: 0 12px;
	width: 100%;
	margin-bottom: 2%;
}


.span1 {
width: 8.3333%
}
.span2 {
width: 16.666667%
}
.span3 {
width: 25%
}
.span4 {
width: 33.333%
}
.span5 {
width: 41.6667%
}
.span6 {
width: 50%
}
.span7 {
width: 58.3333%
}
.span8 {
width: 66.6667%
}
.span9 {
width: 75%
}
.span10 {
width: 83.3333%
}
.span11 {
width: 91.6667%
}
.span12 {
width: 100%
}
.offset1 {
margin-left: 8.3333%
}
.offset2 {
margin-left: 16.666667%
}
.offset3 {
margin-left: 25%
}
.offset4 {
margin-left: 33.333%
}
.offset5 {
margin-left: 41.6667%
}
.offset6 {
margin-left: 50%
}
.offset7 {
margin-left: 58.3333%
}
.offset8 {
margin-left: 66.6667%
}
.offset9 {
margin-left: 75%
}
.offset10 {
margin-left: 83.3333%
}
.offset11 {
margin-left: 91.6667%
}
.offset12 {
	margin-left: 100%
}




.logo {
	margin:0 auto;
	margin-bottom: 80px;
	max-width: 600px;
}





