@charset "UTF-8";

html, body {
overflow-x: hidden;
}



h2 {
	font-size: 2em;
	text-align: center;
	margin: 0;
}

h5 {
	text-align: center;
	margin: 0 0 3em;
}



.username {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
font-size:.8em;
font-weight: bold;

}





.instagram:nth-child(3n+4) {
		clear:both;
	}



.container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


.example2 {
	position: relative;
	background: #e1e3e4;
	padding: 5em 0;
}

.example2 h2 {
	margin: 0 0 1.5em;
}

.example2:before, .example2:after {
	content: "";
	position: absolute;
	background: #e1e3e4;
	top: 0;
	bottom: 0;
	width: 9999px;
}

.example2:before {
	right: 100%;
}
.example2:after {
	left: 100%;
}

#tw-widget2:after {
	content: "";
	display: table;
	clear: both;
}


  
  #tw-widget2 li {
	width: calc(100% / 3);
	float: left;
	padding: 0 20px 50px 20px;
	} 
  
  #tw-widget2 li:after {
	   width: 25%;
  height: 3px;
  margin: 0 0 0 2.205em;
  background: #000;
}
 #tw-widget2 li:nth-child(3n+4) {
		clear:both;
	}


      .instagram {
	line-height:0;
	width: calc(100% / 3);
	float:left;
	display:block;

	
}
      
      
      
     @media only screen and (min-width: 1024px) {

	#tw-widget2 li {
	width: 50%;

}

}
      
      
  @media only screen and (max-device-width: 480px) {


	#tw-widget2 li {
	width: 100%;
	display:block;
	margin: 0 auto;
	padding: 0 20px 50px 20px;
	float: left;
}
	
	
	
	  .instagram {
	width:100%;
	margin: 0 auto;
	
}
  


}
      
      
      


#tw-widget2 a {
	text-decoration: none;
}

#tw-widget2 .user {
	padding: 0;
	position: relative;
}


#tw-widget2 .user a span {
	display: block;
	text-align: left;
	font-weight: ;
}

#tw-widget2 .user a img[data-scribe="element:avatar"] {
	display: none;
}

#tw-widget2 .user a span[data-scribe="element:name"] {
	display: none;

}

#tw-widget2 .user a span[data-scribe="element:screen_name"] {
text-transform: uppercase;
font-size: .9em;
font-weight: ;
}


#tw-widget2 .tweet {
	margin: 0;
	padding: 10px 0px;
	color: black ;
	font-size: 1em ;
	line-height: 1.5;
}



#tw-widget2 .tweet a {
	color: black;

}

#tw-widget2 .tweet a:hover {
text-decoration: underline;

}

#tw-widget2 .tweet a[data-scribe="element:url"] {
text-decoration: underline;
	color: black ;

}

#tw-widget2 .tweet a[data-scribe="element:hashtag"] {
	color: black;
}

#tw-widget2 .tweet img[aria-label^="Emoji"] {
max-height: 14px;
}



  
  
#tw-widget2 .timePosted:before {
	font-family: "Fontawesome";
	-webkit-font-smoothing: antialiased;
	content: "ï€—";
	padding-right: 4px;
}
    
    

.twitter_reply_icon, .twitter_retweet_icon, .twitter_fav_icon {
	   padding-right: 20px;
}

    
    
    
    

