@charset "UTF-8";

html, body {
overflow-x: hidden;
}



h2 {
	font-size: 2em;
	text-align: center;
	margin: 0;
}

h5 {
	text-align: center;
	margin: 0 0 3em;
}

.instagram {
	
	width:25%;
	float:left;
	display:block;
	
}


.container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


.example2 {
	position: relative;
	background: #e1e3e4;
	padding: 5em 0;
}

.example2 h2 {
	margin: 0 0 1.5em;
}

.example2:before, .example2:after {
	content: "";
	position: absolute;
	background: #e1e3e4;
	top: 0;
	bottom: 0;
	width: 9999px;
}

.example2:before {
	right: 100%;
}

.example2:after {
	left: 100%;
}

#tw-widget2:after {
	content: "";
	display: table;
	clear: both;
}

#tw-widget2 li {
	width: 100%;
	display:block;
	margin: 0 auto;
	padding: 0 20px;
	float: left;
}
  
  
@media (min-width: 48em) {
	#tw-widget2 li {
	width: calc(100% / 3);
	float: left;
	padding: 0 20px;
	} 
	
	
	#tw-widget2 li:nth-child(3n+4) {
		clear:both;
	}
	
 
}
      


#tw-widget2 a {
	text-decoration: none;
}

#tw-widget2 .user {
	padding: 0;
	position: relative;
}


#tw-widget2 .user a span {
	display: block;
	text-align: left;
	font-weight: bold;
}

#tw-widget2 .user a img[data-scribe="element:avatar"] {
	display: none;
}

#tw-widget2 .user a span[data-scribe="element:name"] {
	font-size: 20px;
}

#tw-widget2 .user a span[data-scribe="element:screen_name"] {
	font-size: 14px;
	color: ;
}

#tw-widget2 .tweet {
	margin: 0;
	padding: 10px 0px;
	color: ;
}


#tw-widget2 .tweet a {
font-weight: bold;
text-decoration: none;
}

#tw-widget2 .tweet a[data-scribe="element:url"] {
text-decoration: underline;
}

#tw-widget2 .tweet a[data-scribe="element:hashtag"] {
color: ;
}

#tw-widget2 .tweet img[aria-label^="Emoji"] {
max-height: 14px;
}


#tw-widget2 .timePosted {
	margin: 0;
	padding: 0 0;
	font-size: 14px;
	text-align: left;
}
  
  
#tw-widget2 .timePosted:before {
	font-family: "Fontawesome";
	-webkit-font-smoothing: antialiased;
	content: "ï€—";
	padding-right: 4px;
}
    
    
    
.twitter_reply_icon:before {
	font-family: FontAwesome;
	content: "\f112";
}

.twitter_retweet_icon:before {
	font-family: FontAwesome;
	content: "\f079";

}

.twitter_fav_icon:before {
	font-family: FontAwesome;
	content: "\f004";

}

.twitter_reply_icon, .twitter_retweet_icon, .twitter_fav_icon {
	   padding-right: 20px;
}

    
    
    
    

