/* Defaults */ 

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


/* Site Styling */ 

body {
	font-size: 18px;
	font-family: Roboto, 'Source Sans Pro', 'Open Sans', sans-serif;
	color: #404041;
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img {
	max-width: 100% !important;
	height:auto;
}
p {
	margin-bottom: 20px;
	line-height: 1.6;
}
a {
	color: #3c948b;
	text-decoration:none;
	border-bottom: 0px solid #fbaf33;
	padding-bottom: 5px;
}
a:hover {
	text-decoration:underline;

}
sup {
	font-size:.5em;
	vertical-align: super;
}
b, strong {
	font-weight: bold;
}
i, em {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Roboto, 'Source Sans Pro', 'Open Sans', sans-serif;
}


h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #404041;
}


h1 {
	font-size: 1.8em;
	line-height: 1.5;
	font-weight:bold;
	margin: 30px 0 30px 0;
}

h2 {
	font-size: 1.2em;
	margin-bottom: 30px;
	margin-top: 10px;
	font-weight: ;
	line-height: 1.4;


}

h3 {
	font-size: .8rem;
	margin-bottom: 5px;
	font-weight:normal;
	text-transform: uppercase;
	color: #3c948b;

}

h4 {
	font-size: 1em;
	margin-bottom: 10px;

}

hr {
	height:2px;
	width: 100%;
	background: #404041;
	border:none;
	outline:none;

}


ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  margin-right:10px;
  text-indent: -5px;
}

.tc {text-align: center;}
.tr {text-align: right;}
.tl {text-align: left;}

.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 100px 40px 100px 40px;
}

.container-wide {
	margin: 0 auto;
	padding: 80px 0px 80px 0px;
}

.footer-wrapper {
	font-size:.8em;
	padding: 15px 80px;
	background: #1a1a1a;
	color: #cccccc;
	font-family: Roboto, 'Source Sans Pro', 'Open Sans', sans-serif;
}
	
.footer-wrapper a {
	color: #cccccc;

}

.content {
	margin:0 auto;
	max-width: 900px;
}
.row:before,
.row:after {
	display: table;
	line-height: 0;
	content: ""
}
.row:after {clear: both;}

.row {
	@include clearfix;
	margin: 0 -12px;
}

.row:after {clear: both;}

[class*='span'] {
	display: block;
	float: left;
	padding: 0 12px;
	width: 100%;
	margin-bottom: 24px;
}

.span1 {width: 8.3333%}
.span2 {width: 16.666667%}
.span3 {width: 25%}
.span4 {width: 33.333%}
.span5 {width: 41.6667%}
.span6 {width: 50%}
.span7 {width: 58.3333%}
.span8 {width: 66.6667%}
.span9 {width: 75%}
.span10 {width: 83.3333%}
.span11 {width: 91.6667%}
.span12 {width: 100%}

.span1-5 {width: 20%}


.logo {
	margin:30px auto 0 auto;
	margin-bottom: 150px;
	max-width: 600px;
}

.event {

	padding: 18px;
	background:#e1e3e4;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.event-details {
	margin: 0 0 0px 0;
	border-top: 0px solid #222;
	padding: 18px;
	background:#e1e3e4;
	position: absolute;
	bottom: 0;
	left: 0;
		width: 100%;

	font-size: .9rem;
}
.event p {
		font-size: .9rem;

}
.event a {
	color: #404041;
	text-decoration: underline!important;
}

.event-details p {
	margin-bottom: 0;
			font-size: .8rem;

}

.square {
  overflow:hidden;
  width: 100%;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;

}
.square a {
    text-decoration:none;
    border-bottom: 0px;
}
.square:after {
  content: "";
  display: block;
  padding-bottom: 130%;
}




.row .span6:nth-child(2n+1) {
    clear: both;
}


.events {

}


.sponsor-image {
    overflow: hidden;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
            padding: 0 20px;
}
.sponsor-image:after {
    display: block;
    padding-bottom: 50%;
    content: '';
}



@media screen and (max-width:767px) {


  .span2, .span3 {
    width: 50%;
  }
.span1-5 {
    width: 25%;
  }

.container {
	margin: 0 auto;
	padding: 20px 20px 20px 20px;
}

.event p, .event-details p, h3 {
	font-size: .7rem;
}

}

@media screen and (max-width: 480px) {
    .events {
        max-width: 100%;
    }
    .span6 {
        width: 100%;

    }
    .span1-5 {
    width: 50%;
  }



}



